.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background-color: rgb(1, 22, 39);
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectTagline {
  color: #fff;
  font-size: 50px;
  font-weight: normal;
  margin: 0;
}

.heroTitleTextHtml b {
  color: var(--ifm-color-primary);
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jackInTheBox;
  float: right;
  margin-top: 20px;
  padding: 0 20px 20px;
  max-width: 50%;
}

.indexCtas {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.indexCtasGetStartedButton {
  border: 2px solid var(--ifm-color-primary);
  display: inline-block;
  line-height: 1.2em;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 18px 45px;
}

.indexTryMeButton {
  border: 2px solid var(--ifm-color-primary);
  display: inline-block;
  line-height: 1.2em;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: 0.3s;
  border-radius: 8px;
  background-color: var(--ifm-color-primary);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 18px 45px;
}

.indexTryMeButton:hover {
  opacity: 0.8;
  color: white;
}

.features {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heroInner {
    padding: 0;
  }

  .heroProjectTagline {
    color: #fff;
    font-size: 36px;
    text-align: center;
  }

  .heroLogo {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .indexCtas {
    justify-content: center;
  }

  .indexCtasGitHubButton {
    display: none;
  }
}

.customCodeContainer {
  display: flex;
  justify-content: space-between;
}

.customCodeContainer > div {
  margin: 20px;
  border-radius: 20px;
  flex: 1;
}

.customCodeContainer > div > div,
.customCodeContainer > div > div > pre {
  height: 100%;
}
